name: Java Build for Expense Tracker

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Create bin folder
      run: mkdir -p bin

    - name: Compile Java files
      run: javac -d bin Expense_Income_Tracker/*.java

    - name: Package into JAR
      run: jar cfe ExpenseTracker.jar ExpenseIncomeTracker -C bin .

    - name: Upload JAR as artifact
      uses: actions/upload-artifact@v4
      with:
        name: ExpenseTracker
        path: ExpenseTracker.jar

    - name: Run the application
      run: java -cp bin ExpenseIncomeTracker
